@import "tailwindcss";

::view-transition-old(root) {
  animation: fade-out 0.2s ease-in;
}
::view-transition-new(root) {
  animation: fade-in 0.2s ease-out;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-300-normal.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-300-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-400-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-400-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-500-normal.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-latin-500-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo Black";
  src: url("/fonts/archivo-black-latin-400-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-main-bg: #EDE4DD;
  --font-sans: "Inter", sans-serif;
  --font-display: "Archivo Black", sans-serif;

  --animate-topFadeIn: topFadeIn 1s cubic-bezier(0.16,1,0.3,1) forwards;

  @keyframes topFadeIn {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

@layer base {
  html, body {
    font-family: var(--font-sans);
    background-color: var(--color-main-bg);
    color: #1a1a1a;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-weight: 400;
  }
}

.cart-title-transition {
  view-transition-name: cart-word;
}

.cart-page header .cart-title-transition {
  view-transition-name: none;
}
